// config.js (NE PAS COMMIT)
window.CC_ENV = {
  SB_URL: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjYmloeGFjZWVseXlncmxhY3ZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1NjU3MTcsImV4cCI6MjA4NTE0MTcxN30.rgUH-kltyNX99-HTDmGEyzGyu8qFXR9LF1QxsjY0W44,
  SB_ANON_KEY: sb_publishable_lGv3V3Ddz222zHgT9sWxYw_PFJFAc_R
};
